Repository JesperDramsch/python-deadlines: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, python, e2e

New translations 2023-03-09-what-about.md (Hindi)
  _i18n/hi/_posts/2023-03-09-what-about.md
Due: none

New translations 2023-06-25-beyond-python-deadlines.md (Hindi)
  _i18n/hi/_posts/2023-06-25-beyond-python-deadlines.md
Due: none

Update source file en.yml
  _i18n/en.yml
Due: none

fix mastodon feed integration + some refactoring
  _includes/mastodon_feed.html
  _includes/mastodon_head.html
  _layouts/conference.html
  _layouts/summary.html
  static/css/deadlines.css
  static/css/mastodon.css
  static/js/mastodon-feed.js
Due: frontend

Update conference details for PyOhio and DjangoCon US
  _data/conferences.yml
Due: none

fix: exclude YouTube from Mastodon detection, add YouTube as conference link
  _includes/head.html
  _layouts/conference.html
  tests/test_youtube_extraction.py
  utils/enrich_tba.py
  utils/schema.yml
  utils/tidy_conf/schema.py
  utils/tidy_conf/validation.py
Due: python

feat: add Bluesky and YouTube display to conference templates
  _includes/index_conf_title_row.html
  _layouts/conference.html
  _layouts/summary.html
Due: none

Rename mastodon field to youtube in conferences.yml
  _data/conferences.yml
Due: none

Update CFP date for Python Ho conference
  _data/conferences.yml
Due: none

Add CFP link and timezone for PyCon Indonesia 2026
  _data/conferences.yml
Due: none

Add sponsor link for PyCon Indonesia 2026
  _data/conferences.yml
Due: none

chore: sort conferences
  _data/archive.yml
  _data/conferences.yml
Due: none

Update CFP dates and remove unnecessary fields
  _data/conferences.yml
Due: none

cfp: Swiss Python Summit 2026
  _data/conferences.yml
Due: none

conf: Pycon Germany 2027
  _data/conferences.yml
Due: none

fix: ensure footer renders on main page
  index.html
Due: none

fix(enrich-tba): distinguish CFP opening date from closing deadline
  utils/enrich_tba.py
Due: python

fix(enrich-tba): distinguish CFP opening date from closing deadline (#336)
  utils/enrich_tba.py
Due: python

chore: sort conferences
  _data/conferences.yml
Due: none

fix(enrich-tba): use exact domain matching for YouTube/Twitter detection
  utils/enrich_tba.py
Due: python

chore: bump pyupgrade to v3.21.2 for Python 3.14 compatibility
  .pre-commit-config.yaml
Due: none

Add YouTube channel extraction and display support (#338)
  .pre-commit-config.yaml
  _includes/head.html
  _includes/index_conf_title_row.html
  _layouts/conference.html
  _layouts/summary.html
  tests/test_youtube_extraction.py
  utils/enrich_tba.py
  utils/schema.yml
  utils/tidy_conf/schema.py
  utils/tidy_conf/validation.py
Due: python

fix: restore missing snakes and render footer unconditionally
  _layouts/default.html
  _layouts/home.html
  _layouts/search.html
  index.html
Due: none

fix: restore missing snakes and render footer unconditionally (#339)
  _layouts/default.html
  _layouts/home.html
  _layouts/search.html
  index.html
Due: none

feat: add snek speech bubble promoting newsletter signup
  _includes/footer.html
  _includes/sneks.html
  static/css/deadlines.css
  static/js/snek.js
Due: frontend

feat: add snek speech bubble promoting newsletter signup (#340)
  _includes/footer.html
  _includes/sneks.html
  static/css/deadlines.css
  static/js/snek.js
Due: frontend

fix dates for 2027
  _data/conferences.yml
Due: none

fix dates for 2027 (#342)
  _data/conferences.yml
Due: none

Remove mastodon link from conference data
  _data/conferences.yml
Due: none

cfp: PyCon Kenya 2026
  _data/conferences.yml
Due: none

ci: Fix link checking
  .lychee.toml
Due: none

ci: Fix link checking (#347)
  .lychee.toml
Due: none

Add CFP link for Python Ho 2026 conference
  _data/conferences.yml
Due: none

add PyCon Korea 2026
  _data/conferences.yml
Due: none

fix syntax error
  _data/conferences.yml
Due: none

fix space syntax error
  _data/conferences.yml
Due: none

add PyCon Korea 2026 (#351)
  _data/conferences.yml
Due: none

Path conditions:
  frontend: any of: static/js/**/*.js, but not: **/*.min.js, **/vendor/**, **/node_modules/**, tests/**, _site/**, **/__pycache__/**, *.egg-info/**
  python: any of: utils/**/*.py, but not: **/*.min.js, **/vendor/**, **/node_modules/**, tests/**, _site/**, **/__pycache__/**, *.egg-info/**
  e2e: any of: tests/e2e/**, but not: **/*.min.js, **/vendor/**, **/node_modules/**, tests/**, _site/**, **/__pycache__/**, *.egg-info/**
