Repository JesperDramsch/python-deadlines: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, python, e2e

test: improve frontend test coverage to meet thresholds
  tests/frontend/unit/conference-filter.test.js
  tests/frontend/unit/dashboard.test.js
  tests/frontend/unit/favorites.test.js
Due: none

test: achieve 99% test pass rate (373/376 passing)
  tests/frontend/unit/conference-filter.test.js
  tests/frontend/unit/dashboard.test.js
Due: none

ci: remove pixi from precommits
  .pre-commit-config.yaml
Due: none

fix: remove extra files
  .claude/README.md
  .claude/UPGRADE_SUMMARY.md
  .claude/agents/conference-specialist.md
  .claude/agents/qa-guardian.md
  .claude/commands/add-conference.md
  .claude/commands/check-deadlines.md
  .claude/commands/import-conferences.md
  .claude/commands/newsletter.md
  .claude/commands/quick-fix.md
  .claude/commands/test-conference.md
  .claude/commands/validate-data.md
  .claude/context/conference-schema.md
  .claude/context/data-pipeline.md
  .claude/context/troubleshooting.md
  .claude/context/website-improvement-plan.md
  .claude/docs/adhd-support.md
  .claude/docs/ci-optimization.md
  .claude/docs/critical-operations.md
  .claude/docs/git-workflow.md
  .claude/docs/testing-strategy.md
  .claude/scripts/format-python.sh
  .claude/scripts/pre-edit-check.sh
  .claude/scripts/pre-write-check.sh
  .claude/scripts/validate-command.sh
  .claude/scripts/validate-conference.py
  .claude/settings.json
  TEST_IMPROVEMENT_SUMMARY.md
Due: none

fix: remove extra files
  CLAUDE.md
Due: none

ci: fix versions
  .github/workflows/frontend-tests.yml
Due: none

Linting
  .github/workflows/smart-test-runner.yml
  tests/e2e/specs/conference-filters.spec.js
  tests/e2e/specs/search-functionality.spec.js
  tests/frontend/unit/action-bar.test.js
  tests/frontend/unit/conference-manager.test.js
  tests/frontend/unit/dashboard-filters.test.js
  tests/frontend/unit/dashboard.test.js
  tests/frontend/unit/favorites.test.js
  tests/frontend/unit/lazy-load.test.js
  tests/frontend/unit/search.test.js
  tests/frontend/unit/series-manager.test.js
  tests/frontend/unit/theme-toggle.test.js
  tests/frontend/unit/timezone-utils.test.js
  tests/frontend/utils/enhancedMocks.js
  tests/frontend/utils/testDateHelpers.js
  tests/integration/test_jekyll_build.py
  tests/regression/test_conference_archiving.py
  tests/smoke/test_production_health.py
Due: none

chore: sort conferences
  _data/archive.yml
  _data/conferences.yml
Due: none

refactor: migrate conference detail pages to countdown-simple.js
  _includes/head.html
  _layouts/conference.html
  _layouts/summary.html
  static/js/countdown-simple.js
  static/js/jquery.countdown.min.js
Due: frontend

refactor: simplify CI workflows and cleanup unused files
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/smart-test-runner.yml
  .gitignore
  .nycrc.json
  static/js/js-year-calendar_.js
Due: frontend

fix: sync favorites between countdown and dashboard pages
  static/js/action-bar.js
Due: frontend

fix: linting of various utils scripts
  utils/import_python_official.py
  utils/import_python_organizers.py
  utils/main.py
  utils/sort_yaml.py
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/latlon.py
  utils/tidy_conf/links.py
  utils/tidy_conf/yaml.py
Due: python

format
  .github/workflows/ci-core.yml
Due: none

fix: linting
  tests/integration/test_jekyll_build.py
  tests/regression/test_conference_archiving.py
  tests/smoke/test_production_health.py
  tests/test_date_enhanced.py
  utils/import_python_official.py
  utils/import_python_organizers.py
  utils/sort_yaml.py
  utils/tidy_conf/interactive_merge.py
Due: python

ci: drop jekyll build
  .github/workflows/ci-core.yml
Due: none

fix: add ./ prefix to lint task path for CI compatibility
  pixi.toml
Due: none

ci: separate
  .github/workflows/ci-core.yml
  pixi.toml
Due: none

tests: fix e2e order
  tests/e2e/specs/conference-filters.spec.js
  tests/e2e/specs/countdown-timers.spec.js
  tests/e2e/specs/notification-system.spec.js
  tests/e2e/specs/search-functionality.spec.js
  tests/e2e/utils/helpers.js
Due: none

cfp: various updates
  _data/conferences.yml
Due: none

chore: ignore playwright report
  .gitignore
Due: none

fix: normalised luxon countdown
  static/js/countdown-simple.js
  tests/frontend/unit/countdown-simple.test.js
  tests/frontend/utils/mockHelpers.js
Due: frontend

revert: restore summary
  _layouts/summary.html
Due: none

refactor: use new ux component
  _layouts/summary.html
Due: none

fix: conference subscriptions
  _includes/conference_detail_actions.html
  _includes/head.html
  _layouts/conference.html
  static/css/conference-detail-actions.css
  static/css/dashboard.css
  static/js/dashboard.js
  static/js/series-manager.js
Due: frontend

cfp: PyCon Chile
  _data/archive.yml
  _data/conferences.yml
Due: none

chore: add pydantic
  pixi.lock
  pixi.toml
Due: none

cfp: PyTexas 2026
  _data/conferences.yml
Due: none

Update CFP and add sponsorship link for PyCon US 2026
  _data/conferences.yml
Due: none

Add DjangoCon US 2026
  _data/conferences.yml
Due: none

conf: DjangoCon US 2026 (#140)
  _data/conferences.yml
Due: none

fix: cfp formatting
  _data/conferences.yml
Due: none

Path conditions:
  frontend: any of: static/js/**/*.js, but not: **/*.min.js, **/vendor/**, **/node_modules/**, tests/**, _site/**, **/__pycache__/**, *.egg-info/**
  python: any of: utils/**/*.py, but not: **/*.min.js, **/vendor/**, **/node_modules/**, tests/**, _site/**, **/__pycache__/**, *.egg-info/**
  e2e: any of: tests/e2e/**, but not: **/*.min.js, **/vendor/**, **/node_modules/**, tests/**, _site/**, **/__pycache__/**, *.egg-info/**
