Repository JesperDramsch/python-deadlines: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, python, e2e

codecov.yml:

# Codecov configuration for Python Deadlines

coverage:
  # Coverage precision
  precision: 2
  round: down
  range: "70...90"

  status:
    # Overall project coverage
    project:
      default:
        target: 75%
        threshold: 2%
        base: auto
        if_not_found: success
        if_ci_failed: error
        only_pulls: false

      # Frontend JavaScript coverage
      frontend:
        target: 75%
        threshold: 2%
        paths:
          - "static/js/**/*.js"
        flags:
          - frontend

      # Python utilities coverage
      python:
        target: 80%
        threshold: 2%
        paths:
          - "utils/**/*.py"
        flags:
          - python

    # Patch coverage for PRs
    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto
        if_not_found: success

# Flags configuration
flags:
  frontend:
    paths:
      - "static/js/**/*.js"
    carryforward: true

  python:
    paths:
      - "utils/**/*.py"
    carryforward: true

  e2e:
    paths:
      - "tests/e2e/**"
    carryforward: false

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Ignore certain files
ignore:
  - "**/*.min.js"
  - "**/vendor/**"
  - "**/node_modules/**"
  - "tests/**"
  - "_site/**"
  - "**/__pycache__/**"
  - "*.egg-info/**"

# Codecov behavior
behavior:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_flags:
    - name: frontend
      after_n_builds: 1
    - name: python
      after_n_builds: 1

# GitHub integration
github_checks:
  annotations: true

Audit test infrastructure (#192)
  jest.config.js
  package-lock.json
  pytest.ini
  static/js/conference-manager.js
  static/js/dashboard-filters.js
  static/js/dashboard.js
  static/js/series-manager.js
  tests/conftest.py
  tests/e2e/specs/conference-filters.spec.js
  tests/e2e/specs/countdown-timers.spec.js
  tests/e2e/specs/favorites.spec.js
  tests/e2e/specs/notification-system.spec.js
  tests/e2e/specs/search-functionality.spec.js
  tests/e2e/utils/helpers.js
  tests/frontend/unit/about.test.js
  tests/frontend/unit/action-bar.test.js
  tests/frontend/unit/conference-filter.test.js
  tests/frontend/unit/conference-manager.test.js
  tests/frontend/unit/dashboard-filters.test.js
  tests/frontend/unit/dashboard.test.js
  tests/frontend/unit/favorites.test.js
  tests/frontend/unit/lazy-load.test.js
  tests/frontend/unit/search.test.js
  tests/frontend/unit/series-manager.test.js
  tests/frontend/unit/snek.test.js
  tests/frontend/unit/theme-toggle.test.js
  tests/frontend/unit/timezone-utils.test.js
  tests/regression/test_conference_archiving.py
  tests/smoke/test_production_health.py
  tests/test_data_processing.py
  tests/test_date_enhanced.py
  tests/test_geolocation.py
  tests/test_git_parser.py
  tests/test_import_functions.py
  tests/test_integration_comprehensive.py
  tests/test_interactive_merge.py
  tests/test_link_checking.py
  tests/test_newsletter.py
  tests/test_sort_yaml_enhanced.py
Due: frontend

fix: re-establish focus after navigation for WebKit keyboard nav test
  tests/e2e/specs/search-functionality.spec.js
Due: none

fix: re-establish focus after navigation for WebKit keyboard nav test (#193)
  tests/e2e/specs/search-functionality.spec.js
Due: none

chore: sort conferences
  _data/archive.yml
  _data/conferences.yml
Due: none

Add PyCon Lithuania 2026 (April 8-10)
  _data/conferences.yml
Due: none

Add diagnostic script for conference data sync pipeline
  diagnostic_pipeline.py
Due: none

Add exclusion rules to prevent Austria/Australia false match
  diagnostic_pipeline.py
  utils/tidy_conf/data/titles.yml
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/yaml.py
Due: python

Harmonize permanent exclusions with session-based rejections
  utils/tidy_conf/interactive_merge.py
Due: python

Track rejections.yml in version control
  utils/tidy_conf/data/rejections.yml
  utils/tidy_conf/interactive_merge.py
Due: python

Consolidate exclusions into rejections.yml
  diagnostic_pipeline.py
  utils/tidy_conf/data/rejections.yml
  utils/tidy_conf/data/titles.yml
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/yaml.py
Due: python

fix: improve conference name matching and normalization
  diagnostic_pipeline.py
  utils/tidy_conf/data/titles.yml
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/titles.py
  utils/tidy_conf/utils.py
  utils/tidy_conf/yaml.py
Due: python

feat: add input validation, merge tracking, and clear merge strategy
  utils/import_python_official.py
  utils/import_python_organizers.py
  utils/tidy_conf/__init__.py
  utils/tidy_conf/data/rejections.yml
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/validation.py
Due: python

test: add comprehensive tests for data sync pipeline (Phase 4)
  tests/test_interactive_merge.py
  tests/test_pipeline_integration.py
  tests/test_validation.py
Due: none

style: fix linting errors from pre-commit hooks
  tests/conftest.py
  tests/regression/test_conference_archiving.py
  tests/smoke/test_production_health.py
  tests/test_integration_comprehensive.py
  tests/test_interactive_merge.py
  tests/test_pipeline_integration.py
  tests/test_validation.py
  tests/test_yaml_integrity.py
  utils/git_parser.py
  utils/import_python_official.py
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/validation.py
Due: python

style: apply additional ruff auto-fixes
  utils/tidy_conf/validation.py
  utils/tidy_conf/yaml.py
Due: python

Add EuroPython 2026 conference details
  _data/conferences.yml
Due: none

style: fix remaining pre-commit linting errors
  diagnostic_pipeline.py
  utils/tidy_conf/interactive_merge.py
Due: python

chore: remove diagnostic script
  diagnostic_pipeline.py
Due: none

style: suppress S603 subprocess security warning in git_parser.py
  utils/git_parser.py
Due: python

refactor: remove backwards compatibility for fuzzy_match return value
  tests/test_interactive_merge.py
  utils/import_python_official.py
  utils/import_python_organizers.py
Due: python

fix(utils): Conference matching and merging (#196)
  tests/test_interactive_merge.py
  tests/test_pipeline_integration.py
  tests/test_validation.py
  utils/import_python_official.py
  utils/import_python_organizers.py
  utils/tidy_conf/__init__.py
  utils/tidy_conf/data/rejections.yml
  utils/tidy_conf/data/titles.yml
  utils/tidy_conf/interactive_merge.py
  utils/tidy_conf/titles.py
  utils/tidy_conf/utils.py
  utils/tidy_conf/validation.py
  utils/tidy_conf/yaml.py
Due: python

docs: add comprehensive test infrastructure audit report
  TEST_AUDIT_REPORT.md
Due: none

docs: add frontend test coverage findings to audit report
  TEST_AUDIT_REPORT.md
Due: none

docs: add comprehensive file-by-file anti-pattern catalog to audit report
  TEST_AUDIT_REPORT.md
Due: none

fix(tests): dashboard-filters.test.js now tests real module
  tests/frontend/unit/dashboard-filters.test.js
Due: none

docs: update Section 11 status to complete after jQuery mock refactoring
  TEST_AUDIT_REPORT.md
Due: none

docs: update Section 11 status after jQuery mock refactoring
  TEST_AUDIT_REPORT.md
Due: none

docs: update audit report with status for sections 11, 13, 14, 15
  TEST_AUDIT_REPORT.md
Due: none

test(e2e): replace conditional test patterns with explicit test.skip()
  TEST_AUDIT_REPORT.md
Due: none

docs: update audit report to reflect resolved frontend test issues
  TEST_AUDIT_REPORT.md
Due: none

test: add tests for about.js and coverage thresholds
  TEST_AUDIT_REPORT.md
Due: none

test: add 29 tests for snek.js Easter egg
  TEST_AUDIT_REPORT.md
Due: none

test(e2e): remove arbitrary waitForTimeout from spec files
  TEST_AUDIT_REPORT.md
Due: none

docs: update audit report with accurate statistics and status
  TEST_AUDIT_REPORT.md
Due: none

docs: update audit report with Python test progress
  TEST_AUDIT_REPORT.md
Due: none

chore: ignore audit report file
  .gitignore
Due: none

docs: audit report artifact for PR attachment
  TEST_AUDIT_REPORT.md
Due: none

chore: remove audit report from repository
  TEST_AUDIT_REPORT.md
Due: none

Revert "chore: ignore audit report file"
  .gitignore
Due: none

test: add comprehensive conference sync pipeline test suite
  tests/conftest.py
  tests/test_data/edge_cases.yml
  tests/test_data/merge_conflicts.yml
  tests/test_data/minimal_csv.csv
  tests/test_data/minimal_yaml.yml
  tests/test_edge_cases.py
  tests/test_fuzzy_match.py
  tests/test_merge_logic.py
  tests/test_normalization.py
  tests/test_property_based.py
  tests/test_schema_validation.py
  tests/test_sync_integration.py
Due: none
